{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Hello {{ user_name }}! 👋</h1>
    <h2>Sous titre 1</h2>
    <h3>Sous titre 2</h3>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/gf/www/phpunit/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>/home/gf/www/phpunit/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
