{% extends 'base.html.twig' %}
{% set strTitle = "Liste des devis" %}
{% block title %}{{ strTitle }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col"><h1>{{ strTitle }}</h1></div>
            <div class="col-auto"><a href="{{ path('app_devis_app_devis_new') }}" class="btn btn-outline-dark"><i class="bi bi-plus-square me-3"></i>Ajouter</a></div>
        </div>
        <div class="my-3">
            {% if deviss is defined and deviss %}
            <table class="table table-striped table-hover">

            </table>
            {% else %}
                <div class="text-secondary"><em>Aucun devis pour le moment...</em></div>
            {% endif %}
        </div>
    </div>
{% endblock %}
